.image-container {
   text-align: center;
   border-radius: 50%;
   display: inline-block;
/* transform: rotate(-30deg); */
/* border-top-left-radius: 50%;
border-top-right-radius: 50%;
/* border-bottom-left-radius: 50%; */
/* border-bottom-right-radius: 50%;  */
   border: 3px solid #42b883;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   background-size: cover;
   display: block;
}


